<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List_alt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div>The icon array has {{this.icons.length}} items, but only XXX items are shown</div>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        ({{item.note}}) id:{{item.id}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <button ion-button block (click)="navigateToSuchepage()">
      <ion-icon [name]="home" item-start></ion-icon>
      navigate To Suchepage
    </button>
</ion-content>
