<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>List</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <!-- <ion-list>
        <ion-item *ngFor="let annonce of annonceList$ | async">
          <h2>Annonce brand: {{annonce.brand}}</h2>
          <h3>Annonce vehicleType: {{annonce.vehicleType}}</h3>
        </ion-item>
      </ion-list> -->

      <ion-list>
          <button ion-item *ngFor="let annonce of annonceList$ | async" (click)="itemTapped($event, annonce)">
            {{annonce.vehicleType}}
            <div class="item-note" item-end>
              ({{annonce.brand}}) id:{{annonce.key}}
            </div>
          </button>
        </ion-list>
  </ion-content>